.App {
  max-width: 1000px;
  margin: auto;
}

button {
  background: #5C4033;
  border: 3px solid black;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.6em;
}
button:hover{
  background: black;
  color: white;
}
