@import url('https://fonts.cdnfonts.com/css/harry-potter');
.App {
  max-width: auto;
  margin: auto;
}

button {
  font-family: 'Harry Potter', sans-serif;
  text-align: center;
  background: #5C4033;
  border: 3px solid black;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.6em;
}
button:hover{
  background: black;
  color: white;
}
.image-grid{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 21px;
}